<!DOCTYPE html>
<html>
  <head>
    <title>Upload Image</title>
    <link rel="stylesheet" href="../static/css/stylesheet.css" />
  </head>
  <body>
    <h1>DETECTION OF IMAGE SPLICING</h1>
    <h2>UPLOAD A IMAGE TO DETECT IMAGE SPLICING</h2>
    <form method="POST" action="/" enctype="multipart/form-data">
      <div class=""></div>
      <input type="file" name="image" accept="image/*" required /><br /><br />
      <label for="file"> a file</label>
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
